<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head(title = 'Prodcuts')"/>

<body>

<<nav th:replace="fragments/head.html :: navbar(title = 'Products')"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary text-light" th:href="@{/products/add}">Add Product</a>
        </div>

        <form class="form-inline mx-sm-3 mb-2 mr-2 mt-2" th:method="get">
            <div class="form-group ">
                <label for="productFilter" class="sr-only">Username filter</label>
                <input type="text" class="form-control" id="productFilter" th:value="${param.productFilter}"
                       th:name="productFilter" placeholder="Find by name">
            </div>

            <div class="form-group ">
                <select class="form-control ml-1" th:name="priceFilter" th:value="${param.priceFilter}">
                    <option value="">Price none</option>
                    <option value="1">Price Increase</option>
                    <option value="2">Price Decrease</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary ml-1">Apply</button>
        </form>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${products.empty}" th:each="product : ${products}">
                    <td th:text="${product.id}">1</td>
                    <td th:text="${product.productName}">ball</td>
                    <td th:text="${product.price}">1</td>
                    <td th:text="${product.description}">a big one</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/products/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/products/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${products.empty}">
                    <td colspan="5">No data</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 fixed-bottom">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a th:text="Previous"
                           th:if="${(products.number) > 0}"
                           th:href="@{/products(page=${products.number}, size=${products.size},
                           productFilter=${param.productFilter}, priceFilter=${param.priceFilter})}"
                           class="page-link">Previous</a>
                    </li>

                    <li th:if="${(products.number) > 0}"
                        class="page-item">
                        <a th:text="${products.number}"
                           th:href="@{/products(page=${products.number}, size=${products.size},
                           productFilter=${param.productFilter}, priceFilter=${param.priceFilter})}"
                           class="page-link">1</a>
                    </li>

                    <li class="page-item active">
                        <a th:text="${products.number + 1}"
                           th:href="@{/products(page=${products.number + 1}, size=${products.size},
                           productFilter=${param.productFilter}, priceFilter=${param.priceFilter})}"
                           class="page-link">(current)</a>
                    </li >

                    <li th:if="${(products.number + 1) <= products.totalPages - 1}"
                        class="page-item">
                        <a th:text="${products.number + 2}"
                           th:href="@{/products(page=${products.number + 2}, size=${products.size},
                           productFilter=${param.productFilter}, priceFilter=${param.priceFilter})}"
                           class="page-link">1</a>
                    </li>

                    <li class="page-item">
                        <a th:text="Next"
                           th:if="${(products.number + 1) < products.totalPages}"
                           th:href="@{/products(page=${products.number + 2}, size=${products.size},
                           productFilter=${param.productFilter}, priceFilter=${param.priceFilter})}"
                           class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>